body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }

  .bg-image {
    /* La imagen de fondo */
    background-image: url('/images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed; /* Usa fixed o absolute dependiendo de tu diseño */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    filter: blur(8px);
    z-index: -10;
}

  .bg-image::before {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: inherit;
    filter: blur(8px); /* El efecto de desenfoque */
    z-index: -1; /* Mantiene el desenfoque detrás del contenido */
}

#logo {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 200px;
}

#btRegreso {
    padding: 0.8em 1.8em;
	border-radius: 8px;
	background-color: transparent;
	color: whitesmoke;
	border:2px solid black;
	font-size: 16px;
	cursor: pointer;
	z-index: 1;
	transition: 0.3s;
	overflow:hidden ;
	position: relative;
    top: -900px;
    right: -500px;
}

#btRegreso:before {
    content:'';
	width: 0;
	height: 300%;
	position: absolute;
	top: 50%;
	left: 50%;
	transition: 0.5s ease;
	transform: translate(-50%,-50%) rotate(45deg);
	display: block;
	z-index: -1;
	background-color: black;
}

#btRegreso:hover::before {
    width: 105%;
}

#btRegreso:hover {
    color: whitesmoke;
}